---
layout: page
permalink: /tags/
---

<h2>Tags</h2>

<ul class="tag-cloud">
{% for tag in site.tags %}
  <li style="font-size: {{ tag | last | size | times: 150 | divided_by: site.tags.size | plus: 70  }}%">
    <a href="#{{ tag | first | slugize }}">
      {{ tag | first }}
    </a>
  </li>
{% endfor %}
</ul>

<div id="archives">
{% for tag in site.tags %}
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <a name="{{ tag_name | slugize }}"></a>
    <h3 id="#{{ tag_name | slugize }}">{{ tag_name }}</h3>
    <ul>
    {% for post in site.tags[tag_name] %}
      <li><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a> <span style="font-size: small;"><i class="fa fa-calendar"></i> {{ post.date | date: "%b. %-d, %Y" }}</li>
    {% endfor %}
    </ul>
  </div>
{% endfor %}
</div>