.post-heading > h1, .post-heading > h2, .post-heading > .meta,
.site-heading > h1, .site-heading > .subheading {
	opacity: 0.7;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    color: white;
}